In [ ]:
#Q1. Create a python program to sort the given list of tuples based on integer value using

# a lambda function.
#[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534)
# , ('Virat Kohli', 24936)]

In [26]:
# value
l=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534)
 , ('Virat Kohli', 24936)]

In [55]:
# program 
print((sorted(l, key = lambda x : x[1])))

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [ ]:
#Q2. Write a Python Program to find the squares of all the numbers in the given list of
#integers using  lambda and map functions.
             
#[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
g=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x : x**2 , g))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
#Q3. Write a python program to convert the given list of integers into a tuple of
#strings. Use map and lambda functions.
#Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
h =[1,2,3,4,6,7,8,9,10]

In [54]:
list(map(lambda x:str(x), h))

['1', '2', '3', '4', '6', '7', '8', '9', '10']

In [ ]:
Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.